

before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.D

{


border: 5px solid rgb(255, 255, 255);

width: 100%;
height: 20%;

height: 59em;

background: url(volcan.webp);

background-repeat: no-repeat;
background-size: 1500px 1000px; 




}











div#menu{
    width: 100px;
}
div#menu ul{
    padding: 0;
    width: 100px;
    border: 1px solid;
    margin: 0px;
    
}

div#menu ul li{
    position: relative;
    list-style: none;
    border-bottom: 1px solid;
}
div#menu ul ul{
    position: absolute;
    top: 0;
    left: 100px;
}

div#menu li a {
    text-decoration: none;
}

div#menu ul ul{
    position: absolute;
    top: 0;
    left: 100px;
    display: none;
}

div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,
div#menu ul.niveau2 li.sousmenu:hover ul.niveau3{
    display: block;
}

div#menu a{
    color: #111010;
}
div#menu li:hover{
    background: burlywood;
}
div#menu li.sousmenu:hover{
    background-color: royalblue;
}

div#menu li a {
    text-decoration: none;
    padding: 5px 0 4px 9px;
    display: block;
    border-left: 9x solid #BBB;
    width: 90px;
}
div#menu li a:hover{
    border-left-color: red;
}
div#menu ul ul li a:hover{
    border-left-color: orangered;
}
div#menu ul ul ul li a:hover{
    border-left-color: yellow;
}


.container{
    margin: 0 auto;
    border: 3px solid blue ;
    width: 800px;
    height: auto;
    border-radius: 5px;
    margin-top: 40%;
}
h2
{


border: 5px solid rgb(255, 255, 255);

width:60%;
margin-left: 19%;
margin-right:35%;
padding: 3px;
text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(255 0 238), 0 0 151px rgb(255 0 144);
    opacity: 100;
    animation: flicker 1.5s infinite alternate;
    color: rgba(255, 255, 255, 0.979);
	
		
}


div#menu{
 height: 23em;  
border: 3px solid rgb(253, 248, 248);
width:12%;
padding: 17px;
position: relative;
bottom: 23rem;
text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(255 0 238), 0 0 151px rgb(255 0 144);
    opacity: 100;
    animation: flicker 1.5s infinite alternate;
    color: rgba(12, 12, 12, 0.979);

}
h3
    {
        font-family: cursive;
        margin: 20%;
        margin: 10px auto;
        justify-content: 10%;
        margin-top: 90%;
        margin: 0%;
       top: 5px;
        border: 5px solid rgb(248, 247, 249);

        width:98%;
        
        height: 140%;
        
        margin-left: 0%;
        margin-right:55%;
        padding: 7px;
    position: relative;
    top: -339px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(255 0 238), 0 0 151px rgb(255 0 144);
    opacity: 100;
    animation: flicker 1.5s infinite alternate;
    color: rgba(14, 5, 5, 0.979);
}
div.Centrale{
    font-family: cursive;
    width: 83%;
    height: 397px;
    
    border: 3px solid rgb(248, 247, 249);
    position: relative;
    left: 206px;
    top: 38px;
    bottom: 78px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(255 0 238), 0 0 151px rgb(255 0 144);
    opacity: 100;
    animation: flicker 1.5s infinite alternate;
    color: rgba(0, 0, 0, 0.979);
}
iframe{
    width: 92%;
    height: 291px;
}
